name: NPM Audit Check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "0 22 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: v20.16.0
      - name: Code Checkout
        uses: actions/checkout@v2
      - name: Run Audit
        run:  npm audit